# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
build/
dist/
.python-version

# Secrets
.env
.env.secret

# dbt (універсальні шляхи для папки dbt)
**/dbt_packages/
**/logs/
**/target/
**/dbt_modules/
**/catalog.json
**/manifest.json
**/run_results.json

# УВАГА: Якщо ти хочеш тримати шаблон profiles.yml в гіті, 
# закоментуй наступний рядок. Якщо тримаєш його ТІЛЬКИ локально - залиш.
# dbt/profiles.yml

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.tfvars
*.tfvars.json
override.tf
override.tf.json

# IDE & OS
.vscode/
.idea/
.DS_Store