# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
build/
dist/
.python-version

# Secrets
.env
.env.secret
*.pem
*.key

# dbt
**/dbt_packages/
**/logs/
**/target/
**/dbt_modules/
**/catalog.json
**/manifest.json
**/run_results.json
# Рекомендую тримати profiles.yml в ігнорі, щоб не зачекапити доступи до БД
profiles.yml

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfstate.lock.info
*.tfvars
*.tfvars.json
.terraform.tfstate.lock.info
crash.log
*.tfplan
override.tf
override.tf.json

# Docker & Airflow
.docker/
**/airflow.db
**/airflow.cfg
**/airflow-webserver.pid

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints